<header class="header">
    <div>
        <h1 class="playwrite-ca-regular">Wryte</h1>
    </div>
    <form id="search">
        <input type="search" name="query" placeholder="Search articles..." id="searchbar">
        <button type="submit" id="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div>
        <form action="/articles/new" method="get">
            <button class="writebtn"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Write</button>
        </form>
        <button id="openSigninModal" class="signbtn">Sign in</button>
        <button id="openSignupModal" class="signbtn">Sign up</button>
    </div>
</header>