<header class="header">
    <div>
        <a href="/" style="color: black; text-decoration: none;">
            <h1 class="playwrite-ca-regular">Wryte</h1>
        </a>
    </div>
    <form id="search" role="search" action="/search" method="GET">
        <label for="searchbar" class="sr-only">Search articles</label>
        <input type="search" name="query" id="searchbar" placeholder="Search articles...">
        <button type="submit" id="searchbtn" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    <nav class="header-nav">
        <form action="/articles/new" method="get">
            <button class="writebtn" aria-label="Write a new article">
                <i class="fa-solid fa-pen-to-square"></i>&nbsp;Write
            </button>
        </form>
        
        <% if (currentUser) { %>
            <span class="user-info">Welcome, <%= currentUser.firstName %>!</span>
            <form action="/logout" method="post" style="display: inline;">
                <button type="submit" class="signbtn">Logout</button>
            </form>
        <% } else { %>
            <a href="/login" class="signbtn">Sign in</a>
            <a href="/register" class="signbtn">Sign up</a>
        <% } %>
    </nav>
</header>