<div id="wryteModal" class="modal">
    <form action="" class="modal-content">
        <div class="wryteclose">
            <h1 class="playwrite-ca-regular story">Wryte</h1>
            <span id="closeWryteModal" class="close">&times;</span>
        </div>
        <div class="content">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="txtfield" required>
        </div>
        <div class="content">
            <label for="image">Select Image:</label>
            <input type="file" id="image" name="image">
        </div>
        <div class="content">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="txtfield" rows="10" required></textarea>
        </div>
        <div class="content publish">
            <button type="submit">Publish</button>
        </div>
    </form>
</div>
<script src="/js/wryteModal.js"></script>