<% layout('layouts/boilerplate') -%>
    <div class="articles-container">
        <% articles.forEach(article=> { %>
            <a href="/articles/<%= article._id %>" class="article-link">
                <div class="article-card">
                    <h2 class="article-title">
                        <%= article.title %>
                    </h2>
                    <div class="article-image">
                        <img src="<%=article.image.url %>">
                    </div>
                    <p class="article-description">
                        <%= article.description %>
                    </p>
                </div>
            </a>
            <% }) %>
    </div>